<main>
  <div class="container">
    <h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, sapiente!
    </h1>
    <div class="subtitle">Time is money.</div>
    <div class="imgs-wrapper">
      <div class="img-wrapper"><img src="../../assets/images/mainpage_house1.jpg" alt=""></div>
      <div class="img-wrapper"><img src="../../assets/images/mainpage_house2.jpg" alt=""></div>
      <div class="img-wrapper"><img src="../../assets/images/mainpage_house3.jpg" alt=""></div>
    </div>
    <button mat-raised-button color="primary">
      Перейти к списку
    </button>
  </div>
</main>
