header{
  background: #0a8ea0;
  color: #fff;
  border-bottom: 1px solid #0a8ea0;
  box-shadow: 0 0 8px #0a8ea0;

  .logo{
    color: lawngreen;
  }
  nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 10px 0;

    a{
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;

      &:hover{
        color: #74d2e7;
      }
    }
    .search{
      position: relative;
      z-index: 1;
      &:before{
        content: '';
        position: absolute;
        width: 280px;
        height: 280px;
        background-color: #fff;
        -webkit-transform: rotate(-48deg) translateY(-50%);
        -moz-transform: rotate(-48deg) translateY(-50%);
        -ms-transform: rotate(-48deg) translateY(-50%);
        -o-transform: rotate(-48deg) translateY(-50%);
        transform: rotate(-48deg) translateY(-50%);
        top: 50%;
        left: 70px;
        z-index: -1;
      }
    }
    mat-form-field{
      margin: 0 10px;
      color: #000;
    }
  }
}
.container{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
