li{
  list-style: none;
}
.title{
  font-size: 40px;
  color: #6a737b;
  text-transform: uppercase;
}
.address{
  font-size: 32px;
  color: #4298b5;
}
.slide{
  margin: 0 20px;
}
.carousel{
  margin: 20px 0;
}
