.array-field{
  display: flex;
  flex-wrap: wrap;
}
.array-field div{
  width: 100%;
  display: flex;
}
input{
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
}
button{
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.error{
  text-align: left;
  color: red;
}
